@{
    ViewData["Title"] = "YAZARLAR";
}
@* Hakkında bölümünün ana sayfasını oluşturduk *@
<h2>HAKKINDA BÖLÜMÜNE HOŞGELDİNİZ</h2>                          @* h2 ile Başlık yazdık   h1-h2-h3-h4 yazı boytunu belirler *@
<br />
<br />
<br />
<h3>Bu Sayfay Proje Geliştirme amacıyla yapılmıştır.</h3>       @*h3 ile metin yazdık*@
