@using LibraryProject.Models
@model List<Author>
@{
    ViewData["Title"] = "YAZARLAR";                     @* YAZARLAR bölümünün ana sayfasını oluşturduk *@
}

<h2>YAZARLAR BÖLÜMÜNE HOŞGELDİNİZ</h2>                  @* H1 ile Başlık yazdık   h1-h2-h3-h4 yazı boytunu belirler *@

<p> MEVCUT YAZARLARIN BİLGİLERİNE ULAŞABİLİRSİNİZ</p>   @* <p></p> ile pagaraf oluştruduk ve metin girdik *@



<a asp-controller="Author" asp-action="List" class="btn btn-primary">Yazar Listesi</a>       @* Yazar listesine gitmek için Buton Oluşturduk ve Link verdik*@

<br />
<br />

<a asp-controller="Author" asp-action="Create" class="btn btn-primary">Yazar Ekle</a>        @* Yazar Ekleye gitmek için Buton Oluşturduk ve Link verdik*@





