<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - ÖMER tarafından yapılmıştır - Hakları Gizlidir - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>