@{
    ViewData["Title"] = "Ana Sayfa";
}


<h2>KÜTÜPHANEYE HOŞGELDİNİZ</h2>                                                        @* Home bölümünün ana sayfasını oluşturduk *@
@*  H2 ile Başlık yazdık   h1-h2-h3-h4 yazı boytunu belirler *@
<p>KÜTÜPHANEDE MEVCUT KİTAPLARIN VE YAZARLARIN BİLGİLERİNE ULAŞABİLİRSİNİZ</p>          @* <p></p> ile pagaraf oluştruduk ve metin girdik *@

<style>
    header {
        background-color: brown;
    }

    body {
        background-color: brown;
    }

    thead {
        background-color: darkolivegreen;
    }

</style>

